.code_text
{
    width: 85%;
    height: 350px;
    resize: none;
    display: block;
    margin: 10% 5%;
    margin-bottom: 3%;
    margin-top: 5px;
    font-size: 1.2em;
}

.compiler_div
{
    float: left;
    height: 510px;
    width:50%;
    background: white;
    margin-left: 25px;
    box-shadow: 0px 0px 5px  grey;
}

.output_div
{
    float:left;
    width: 45%;
    height: 510px;
    background: white;
    margin-left: 25px;
    box-shadow: 0px 0px 5px  grey;
    
}

.submit_button
{
    padding: 2% 5%;
    font-weight: bold;
    background:#1cac4d;
    color: white;
    float: right;
    margin-right: 10%;
    margin-bottom: 3%;
    box-shadow: 0px 0px 5px  grey;
    border: none;
    border-radius: 10px;
}

.submit_button:hover
{
    background:black;
    color: white;
}

.reset_button
{
    padding: 2% 5%;
    font-weight: bold;
    color: black;
    float: right;
    margin-right: 5%;
    margin-bottom: 3%;
    box-shadow: 0px 0px 5px  grey;
    border: none;
    border-radius: 10px;
    outline: none;
}

.output_div p
{
    margin: 5%;
    margin-bottom: 5%;
    display: block;
}

.output_div span
{
    text-align: center;
    display: block;
    margin-top: 10%;
    margin-bottom: none;
    font-size: 1.1em;
    font-weight: 500;
    width: 100%;
    height:200px;
    overflow-y: scroll;
}

.logo
{
    width: 20%;
    margin: 20px 10px;
}

.menu_div
{
    background: #3b434b;
    border-bottom: 5px solid #1cac4d;
    margin-bottom: 25px;
    padding: 0px;
    box-shadow: 0px 0px 5px  grey;
}

.compiler_div h2
{
    margin: 30px 30px;
    font-size: 1em;
}

.main_div
{
    background: #f3f3f3;
    position:fixed;
    width:100%;
    height:100%;
    overflow-y: scroll
}

.output_result
{
    color: #1cac4d;
}

.compile_result, .runtime_result
{
    color: rgb(192, 79, 79);
}

.timer_result, .memory_result
{
    font-family: "Agency FB";
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin-top: 10%;
    margin-bottom: none;
}

.logo_gif
{
    width: 80px;
    height: 80px;
    margin-left: 3%;
}

.time_header
{
    float: left;
    width: 40%;
    text-align: center;
}

.memory_header
{
    float:left;
    width: 40%;
    text-align: center;
}